.nodebb-plugin-share-post-icons-cn {
	margin-right: 10px;

	a {
		border-radius: 50%;
		padding: 5px 2px;
		margin: 0 1px;
		color: white;

		&[component="share/facebook"] {
			background-color: #3b5998;
		}
		
		&[component="share/twitter"] {
			background-color: #1da1f2;
		}

		&[component="share/google"] {
			background-color: #dd4b39;
		}

		&[component="share/linkedin"] {
			background-color: #0077B5;
		}

		&[component="share/weibo"] {
			background-color: rgb(189, 53, 19);
		}

		&[component="share/wechat"] {
			background-color: rgb(34, 199, 13);
		}

		&[component="share/douban"] {
			background-color: rgb(35, 163, 3);
		}
	}
}